<li class="nav-item">
  <form method="post" action="/api/users/logout">
    <button
      id="logout"
      type="submit"
      style="border: none; background-color: transparent; color: grey"
    >Logout</button>
  </form>
</li>

