<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Martin Lynch | Full Stack Developer</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/fontawesome.css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/solid.css"
    />
    <link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Tangerine">

    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


    
  </head>
  
  <body>
    <header>
      <nav class="navbar navbar-expand-lg">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <form action="/" method="GET">
              <button type="submit" style="border: none; background-color: transparent; color:
              grey;">Home</button>
              </form>
            </li>

            {{!-- 
            Checking to see if the user is logged in or not
            and if so then we are going to only have the home
            and logout button displayed.
             --}}
            {{#if loggedIn}}           
            {{!-- Created a partial so that the logout button will work no matter what screen the user is on --}}
                {{>logout-button}}

                {{>add-project}}

                {{>dashboard-partial}}
            {{else}}
              <form action="/login" method="GET">
                <button type="submit" style="border: none; background-color: transparent; color:
                grey;">Admin Login</button>
              </form>
            {{/if}}
          </ul>
        </div>
      </nav>
    </header>

    <main>
      {{{body}}}
    </main>

    {{#if logged_in}}
     
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>