<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Martin Lynch | Full Stack Developer</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://kit.fontawesome.com/5e86550e56.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="icon" type="image/png" href="/Images/icons8-code-50.png">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


    
  </head>
  
  <body>
    <header>
      {{#if showNav}}
      <nav>
        {{#if loggedIn}}
          <form action="/" method="GET">
            <button type="submit" class="navBtn">Home</button>
          </form>
          {{> logout-button}}
          {{>add-project}}
          {{>dashboard-partial}}
        {{else}}
          <div>
              <a href="#projects" class="navBtn">Projects</a>
          </div>
            
          <div>
              <a href="#contact" class="navBtn">Contact</a>
          </div>
          <form action="/login" method="GET">
            <button type="submit" class="loginBtn">
              <i class="fa-solid fa-user-astronaut"></i>
            </button>
          </form>
        {{/if}}
      </nav>
      {{/if}}
    </header>

    <main>
      {{{body}}}
    </main>

    {{#if showFooter}}
      <div style="border: 1px solid; height: 200px">

      </div>
    {{/if}}

    {{#if logged_in}}
     
      <script src="/js/logout.js"></script>
    {{/if}}
    <script src="inedx.js"></script>
  </body>
</html>