<form action="/newProject" method="POST" class="form">
  <h4>Add New Project</h4>

  <label for="project_image">Project Image (Please submit link to image):</label><br />
  <input
    type="text"
    id="project_image"
    name="project_image"
  /><br />

  <label for="project_name">Project Name:</label><br />
  <input
    type="text"
    id="project_name"
    name="project_name"
  /><br />

  <label for="project_languages">Languages Used:</label><br />
  <input
    type="text"
    id="project_languages"
    name="project_languages"
  /><br />

  <label for="project_description">Project Description:</label><br />
  <textarea id="project_description" name="project_description"></textarea><br />

  <label for="project_live_url">Live URL:</label><br />
  <input type="text" id="project_live_url" name="project_live_url" /><br
  />

  <label for="project_github_link">GitHub Link:</label><br />
  <input type="text" id="project_github_link" name="project_github_link" /><br />

  <button type="submit" class="update">Update</button>
</form>

{{!-- 
https://github.com/mjlynch123/The_Tech_Blog/blob/main/Images/screenshot.png?raw=true
The Tech Blog
JavaScript | ExpressJS | SQL | Sequelize | node.js | Handlebars
This is an app that allows a user to make a post on a blog about whatever they would like.
https://github.com/mjlynch123/The_Tech_Blog

https://github.com/mjlynch123/Employee_Tracker/blob/main/Assets/Images/screenshot.png?raw=true
https://github.com/mjlynch123/Employee_Tracker
This program give the user the ability to add, update, and delete, users, roles, and departments
JavaScript | ExpressJS | SQL | node.js | Inquirer 
 --}}
