<body>
  <div class="failure">
    <h2>Something went wrong! <span><i class="fa-solid fa-circle-xmark" style="color: #ff0000;"></i></span></h2>
    <p>I apologize greatly for the trouble, but it looks like something went wrong. You can either try and submit another right now, or try again later.</p>
    <a href="/">Back to Homepage</a>
  </div>

  <style>
    .failure { border-radius: 7px; border: none; background-color: #00001a; color: white; line-height: 2em; padding: 35px; height: 300px; width: 500px; text-align: center; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
    .failure h2 { margin-bottom: 30px; }
  </style>
</body>