* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

main, html, body {
  background-color: #e5e5e5;
}

body {
  margin: 0;
  padding: 0;
}

header {
  float: right;
  font-size: 25px;
  width: 100%;
  margin-bottom: 20px
}

nav {
  display: flex !important;
  flex-direction: row;
  justify-content: center; /* optional: center the buttons horizontally */
  align-items: center;
}

nav button {
  flex: 1; /* make the buttons flexible */
  margin: 10px; 
}

.navBtn {
  border: none;
  background-color: transparent; 
  color:grey;
  text-decoration: none;
  margin: 10px
}

.navBtn:hover {
  color: grey;
}

.login-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 500px;
}

#login {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 24px;
}

.loginBtn {
  border: 2px solid; 
  padding: 2px 4px; 
  border-radius: 50%; 
  background-color: transparent; 
  color:grey; 
  position: absolute; 
  top: 0px; 
  right: 15px
}

#guest {
  margin-top: -10px;
  color: black;
  text-decoration: underline;
}

#email,
#name,
#message {
  border-radius: 5px;
  outline: none;
  margin-top: 10px;
}

#message {
  width: 100%;
  height: 105px;
  resize: none;
  border: 1px solid #bfbfbf;
  overflow-y: scroll;
}

.home:hover {
  color: grey;
}

/* Introduction */
.inner {
  display: flex;
}

.intro {
  position: relative;
  margin: 35px;
  padding: 10px;
  width: 65%;
  background-color: #e5e5e5;
  line-height: 2.5rem;
}

.resumeBtn {
  position: relative;
  border: none;
  border-radius: 7px;
  font-size: 15px;
  color: #333;
  left: 42px;
  top: -30px;
  height: 45px;
  width: 210px;
  background-color: #4dff88;
}

.resumeBtn i {
  margin-right: 10px;
}

.heading {
  text-align: center;
  border-bottom: 5px solid;
  margin: 10px 25px;
}

.port-card {
  position: relative;
  left: 0%;
  transform: translateX(-50%);
  top: 0px;
  height: 350px;
  margin: 35px;
  padding: 10px;
  width: 375px;
}

.port-img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.port-img img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.port-name-title {
  text-align: center;
  height: 65px;
  width: 75%;
  position: relative;
  left: 50%;
  top: 40px;
  transform: translateX(-50%);
}

/* Projects */

.project-header {
  text-align: center;
  border-bottom: 5px solid black;
  margin: 20px 20px;
  /* color: #0d47a1; */
}

/* These are the cards on the homepage */
#grid-container {
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
  border-bottom: 3px solid;
  padding-bottom: 35px;
}

.project-cards {
  border: 1px solid #ddd;
  box-shadow: 0px 0px 10px #ddd;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  color: black;
  text-decoration: none;
  height: 350px;
  background-color: #fff;
}

.project-cards:hover {
  color: black;
}

.card-image {
  height: 200px;
  width: 100%;
  background-size: contain;
  border-bottom: 1px solid;
}

.card-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid;
}

.card-content {
  padding: 10px;
  background-color: #fff;
}

.card-content h3 {
  margin: 0;
  background-color: #fff;
}

.card-content p {
  font-size: 10px;
  background-color: #fff;
}

.outer-link {
  position: absolute;
  bottom: 10px;
  width: 100%;
  background-color: transparent;
}

.links {
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.link {
  border: none;
  color: #333;
  background-color: #2196f3;
  text-decoration: none;
  padding: 10px;
  margin: 5px;
  border-radius: 7px;
}

.link:hover {
  color: white;
}

#na:hover {
  color: white;
}


/* Update form */
.update-form {
  margin: 10px;
  padding: 10px;
}

.update-form input, textarea {
  border: none;
}

.updateBtn {
  position: relative;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  margin-bottom: 30px;
  width: 200px;
  height: 55px;
  border: none;
  border-radius: 7px;
  background-color: #4dff88;
}

#project-description {
  resize: none;
  width: 100%;
}


/* Dashboard Cards */
.greeting {
  text-align: center;
}

#card-container {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #ddd;
  box-shadow: 0px 0px 10px 5px #b3b3b3;
  border-radius: 5px;
  overflow: hidden;
  flex-basis: 25%;
  flex-grow: 1;
  position: relative;
  padding: 10px;
  display: inline-block;
  margin: 10px;
  color: black;
  text-decoration: none;
  height: 315px;
  max-width: calc(100% / 4 - 20px); /* subtract 10px for the margin */
  padding: 10px;
  z-index: 0;
}

.card:hover {
  color: grey;
}


/* Dashboard user options */
.user-options {
  border: 1px solid;
  height: 300px;
  margin: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}


/* Contact Form */

.form-container {
  border: none;
  width: 90%;
  max-width: 800px;
  padding: 10px;
  position: relative;
  border-radius: 7px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-bottom: 30px;
  background-color: #fff;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

#emailAddress,
#name,
#message {
  border-radius: 5px;
  outline: none;
  margin-top: 10px;
  width: 90%;
  max-width: 800px;
  background-color: #fff;
}

#message {
  width: 90%;
  max-width: 800px;
  height: 105px;
  resize: none;
  border: 1px solid #bfbfbf;
  overflow-y: scroll;
  margin-top: 10px;
}

.submitBtn {
  width: 90%;
  height: 45px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  background-color: #2196f3;
  color: white;
}

.img img {
  height: 250px;
  min-width: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.info {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 35vh;
  align-items: center;
}

.col-md-6 {
  border: 1px solid #bfbfbf;
  padding: 10px;
  margin: 10px;
  text-align: center;
  position: absolute;
  border-radius: 5px;
  background-color: #fff;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 5px;
  border: 1px solid #bfbfbf;
  border-radius: 3px;
  width: 100%;
  margin-bottom: 10px;
}


/* Dashboard Single Inquiries */

.main {
  border: 1px solid;
  height: auto;
  width: 800px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: white;
}

.name {
  border-bottom: 1px solid;
}

.email {
  margin-top: 10px;
}

.message {
  border: 1px solid;
  height: 200px;
  margin-top: 30px;
  overflow-y: scroll;
  padding: 10px;
}

.buttons {
  position: absolute;
  top: 67%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttons button {
  border: none;
  width: 300px;
  height: 45px;
  background-color: #4dff88;
  border-radius: 7px;
}

/* This is the delete button on the single project page */

.deleteBtn {
  position: absolute;
  top: 90px;
  right: 15px;
  width: 150px;
  height: 35px;
  border: none;
  background-color: red;
  color: white;
}

/* Adding new project */

.form {
  margin: 10px;
}

.form input {
  outline: none;
  border: none;
}

.form h4 {
  text-align: center;
  margin-bottom: 20px;
}

#project_description {
  resize: none;
  width: 100%;
  height: 150px;
  border: none;
  outline: none;
}

.add-new-button {
  width: 200px;
  height: 55px;
  background-color: #4dff88;
  border: none;
  border-radius: 7px;
  margin-top: 10px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

footer {
  border-top: 1px solid;
}

@media only screen and (max-width: 960px) {
  
}

@media (max-width: 768px) {
  #card-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    flex-basis: calc(50% - 10px); /* subtract 10px for the margin */
    max-width: calc(50% - 10px); /* subtract 10px for the margin */
  }
}

@media only screen and (max-width: 600px) {
  header {
    float: none;
    padding: 10px;
    font-size: 20px;
  }

  nav button {
    font-size: 12px;
    padding-top: 15px;
  }

  .inner {
    flex-direction: column-reverse;
  }

  .inner button {
    left: 50%;
    transform: translateX(-50%);
  }

  #login {
    top: 330px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .port-card {
    left: 40%;
    transform: translateX(-50%);
  }

  .loginBtn {
    top: 5px; 
    right: 20px
  }

  .form-container {
    width: 90%;
    padding: 5%;
  }

  #message {
    height: 150px;
  }

  .submitBtn {
    height: 35px;
  }

  .login-container {
    display: block;
    margin: 20px;
  }

  .landing-container {
    height: auto;
  }

  .main-card {
    width: 100%;
    height: auto;
    margin: 10px 0;
  }

  .img img {
    height: 200px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .intro {
    width: 81%;
    text-align: center;
  }

  .info {
    height: auto;
  }

  .col-md-6 {
    width: 100%;
    position: static;
    margin: 10px 0;
  }

  #card-container a {
    width: 100%;
  }

  .card {
    height: 300px;
    flex-basis: auto;
    max-width: 95%;
  }

  .main {
    width: 95%;
  }

  .buttons button {
    margin-top: 50px;
  }

  /* Single Project */
  .main-area {
    flex-direction: column;
    text-align: center;
    margin: 0;
  }

  .image {
    position: relative;
    left: 47%;
    transform: translateX(-50%);
  }

  .deleteBtn {
    position: static;
    margin-top: 10px;
    width: 275px;
    height: 45px;
    border-radius: 7px;
  }

  .description-area {
    text-align: center;
  }

  .description-area h1 {
    margin-top: 15px;
  }

  /* Success Page */
  .success, .failure {
    width: 350px !important;
    font-size: 14px;
  }

  .failure h2 {
    font-size: 19px;
  }
}

@media screen and (max-width: 300px) {
  .buttons button {
    width: 150px;
  }
}